.tokenFemale {
    width:30px;
    height: 30px;
    border-radius: 100px;
    background-color: blue;
    border: 1px solid black;
    position: absolute;
    top: 7px;
    left: 5px;
    transition-property: transform;
    transition-duration: 0.5s;
    z-index: 1;
}