.tokenMale {
    width:30px;
    height: 30px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: -5px;
    transition-property: transform;
    transition-duration: 0.5s;

}