.dice {
    position: absolute;
    top: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    transition-property: opacity;
    opacity: 0
}